<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151662457866-bh3er8iqi50trm5vsenh3crblopcqeui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151662457866-bh3er8iqi50trm5vsenh3crblopcqeui</string>
	<key>API_KEY</key>
	<string>AIzaSyBD7MiMkFQJ_C9Vkssw6O5aYBARcNTHPCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>151662457866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedexFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pokedexdsi</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedexdsi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151662457866:ios:0bbe80ba2807638bad1bf3</string>
</dict>
</plist>